
body {
	background-image: url(http://wallpaperlayer.com/img/2015/1/blurred-image-7588-7881-hd-wallpapers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;

}


.pageOne{
	/*background: rgba(255,255,255, 0.2);*/
	background-size: 20px;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	margin-top: 10px;
	-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
	
}
.page-header {
	font-family: 'The Girl Next Door', cursive;
	font-size: 3.2em;
}
.profileImg {
	border-radius: 50%;
	width: 320px;
	height: 320px;
	margin: 70px 0 0 100px;
	-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
	

}
.about {
	margin-top: 80px;
}
.navv {
	border-radius: 40px;
}
.pageTwo {
	/*background: rgba(0,255,255, 0.1);*/
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	margin-top: 20px;
	-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
	
}

.pageThree {
	/*background: rgba(0,191,255, 0.2);*/
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	margin-top: 20px;
	height: 700px;
	
	-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
	
}

.footer {
	/*background: rgba(0,191,255, 0.2);*/
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 80;

}
.red{
    color:red;
    }
.form-area
{
    background-color: transparent;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

	
	
	.navigacija{
		background-color: rgba(255,255,255);
		-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
	
font-size: 1.5em;
    font-family: 'The Girl Next Door', cursive;


	}

	p {
		font-size: 1.2em;
		color: black;
	}

.social-media  {


    box-sizing: border-box;
	 font-family: 'The Girl Next Door', cursive;
	 padding: 20px 20px 20px 20px;
border-radius: 20px;
	background: rgba(0,191,255, 0.1);
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
	


}

.text {

	margin-top: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
	 padding: 20px 20px 20px 20px;
border-radius: 20px;
	background: rgba(0,191,255, 0.1);
	-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
	
}


.socialIco {


	width: 50px;
	height: 50px;
	float: left;
	margin: 10px 10px 10px 10px;

}
.social-margin-left {
	margin-left: 110px;
}